<h1>Jobs@something</h1>
<table>
  <tr>
    <th>Position</th>
    <td><%= @job.position %> </td>
  </tr>
  <tr>
    <th>Location</th>
    <td><%= @job.place %> </td>
  </tr>
  <tr>
    <th>Contract</th>
    <td><%= @job.contract %> </td>
  </tr>
  <tr>
    <th>Description</th>
    <td><%= @job.description %> </td>
  </tr>
</table>